<ng-template [ngIf]="deleteDialog[0]">>
    <div class="delete-dialog">
        
        <div class="delete-dialog-content">
            <h3>Da li si siguran da želiš da obrišeš "{{getPicName(deleteDialog[1])}}" ?</h3>
            <div>
                <span (click)="deleteConfirm()" class="modal-btn">Da</span>
                <span class="dot">·</span>
                <span (click)="deleteCancel()" class="modal-btn">Ne</span>
            </div>
        </div>

    </div>
</ng-template>

<ng-template [ngIf]="largeImg[0]">
    <div 
        class="large-img-preview"
        (click)="closeLarge()"
    >
        <img src={{largeImg[0]}} alt="">
        <div class="prev-btn">
            <i antIcon
            type="arrow-left"
            theme="outline"
            (click)="prevImg($event)"
        >
        </i>
        </div>
        <div class="next-btn">
            <i antIcon
                type="arrow-right"
                theme="outline"
                (click)="nextImg($event)"
            >
            </i>
        </div>
    </div>
</ng-template>

<div class="album-top">

    <div class="top-left">
        <a href="/" class="back-btn">
            <span>← povratak</span>
        </a>
        <h2>
            {{albumName}}
        </h2>
        <div class="searchHolder">
            <i antIcon
                type="search"
                theme="outline"
                >
            </i>
            <input
                type="text"
                placeholder="Pretraži"
                name=""
                id=""
                (keyup)="searchPics($event.target)"
            >
        </div>
        <ng-template [ngIf]="!filteredArr.length && searchActive">
            <div class="no-results">No search results!</div>
        </ng-template>
    </div>
    <div class="top-right">
        <i antIcon
            [class]="rowGrid ? 'active' : ''"
            type="menu"
            theme="outline"
            (click)="setRowGrid(true)"
            >
        </i>
        <i antIcon
            [class]="!rowGrid ? 'active' : ''"
            type="appstore"
            theme="fill"
            (click)="setRowGrid(false)"
            >
        </i>
    </div>

</div>

<div class="album-wrapper" [class]="rowGrid ? 'row-grid' : ''">
<ng-container *ngFor = "let n of searchActive ? filteredArr : albumArray; let index = index">

    <app-album-picture (click)="showLargeImg($event, n['url'], index)"
        [title]="n['title']"
        [thumb]="n['thumbnailUrl']"
        [imgUrl]="n['url']"
        [imgId]="n['id']"
        (onDeletePic)="deletePic($event)"
    ></app-album-picture>

</ng-container>

</div>
<!-- [title]="albumArray[index]['title']"
        [author]="getUserName(albumArray[index]['userId'])"
        [albumLink]="albumArray[index]['id']" -->