.large-img-preview {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #E5E5E5;
    z-index: 3;
}

.large-img-preview img {
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.large-img-preview .prev-btn {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 50px;
    cursor: pointer;
}

.large-img-preview .next-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 50px;
    cursor: pointer;
}

.album-top {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}

.album-top .top-right {
    display: none;
}

.album-top .top-right i {
    font-size: 35px;
    cursor: pointer;
    color: #E5E5E5;
    margin-left: 5px;
}

.album-top .top-right i.active {
    color: #000000;
}

.album-top a.back-btn {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 25px;
    text-decoration: none;
    color: #000000;
}

.album-top a.back-btn:hover {
    color: #FFC23B;
}

.album-top h2 {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 30px;
}

.album-top .searchHolder {
    display: inline-block;
    border-bottom: 1px solid #000;
    max-width: 100%;
}

.album-top .searchHolder input {
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: 100;
    max-width: 85%;
}

.album-top .searchHolder i {
    font-size: 22px;
    margin-right: 5px;
}

.album-top .no-results {
    padding-top: 15px;
}

.album-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.album-item-wrapper {
    width: 100%;
    margin-bottom: 57px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 734px) {

    .album-top {
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
    }

    .album-item-wrapper {
        width: 50%;
        margin-bottom: 57px;
    }

    .album-top .top-right {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1104px) {

    .album-top {
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
    }

    .album-item-wrapper {
        width: 33.33%;
        margin-bottom: 57px;
    }

    .album-top .top-right {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 734px) {
    .row-grid .album-item-wrapper {
        width: 100%;
    }
}

.delete-dialog {
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
}

.delete-dialog .delete-dialog-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 15px;
    text-align: center;
}

.delete-dialog .delete-dialog-content h3 {
    font-size: 64px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 71px;
}

.delete-dialog .delete-dialog-content span {
    font-size: 64px;
    font-weight: 200;
    display: inline-block;
}

.delete-dialog .delete-dialog-content span.dot {
    margin-right: 15px;
    margin-left: 15px;
}

.delete-dialog .delete-dialog-content span.modal-btn {
    cursor: pointer;
}

.delete-dialog .delete-dialog-content span.modal-btn:hover {
    color: #FFC23B;
}